.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 4vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-logo1 {
  height: 40vmin;
  pointer-events: none;
}

@media screen{
  .App-logo  {
    animation: App-logo-scale infinite 5s linear;
  }
}

.App-logo1 {
  height: 20vmin;
  pointer-events: none;
}

@media screen{
  .App-logo1  {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 0.5vmin);
  color: white;
  margin: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-scale {
  from {
    transform: scale(0.1, 0.1);
  }
  to {
    transform: scale(0.2, 0.2);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
